{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": "last 2 versions"
        },
        "modules": false
      }
    ],
    "stage-1",
    "react",
    "flow"
  ],
  "env": {
    "jest": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
