.label {
  font-weight: bold;
}
.closeIcon {
  float: right;
  cursor: default;
}
.divider {
  margin-top: 0.5em;
  border-top: solid silver thin;
  padding: 0.5em;
  clear: both;
}
.libre {
  color: green !important;
  display: block;
  margin: 3px 0;
}
.precaucion {
  color: yellow !important;
  display: block;
  margin: 3px 0;
}
.alto {
  color: red !important;
  display: block;
  margin: 3px 0;
}
.rowSpacing {
  padding-top: .5em;
  padding-bottom: .5em;
}
